<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/form.css">
    <script type="text/javascript" src="../static/script.js" defer></script>
    <title>Dodaj Studenta</title>
</head>
<body>
    <form action="{{ url_for('dodaj_studenta') }}" method="POST" onsubmit="validation()">
        <div>
            <label for="broj_indeksa">Broj Indeksa:</label>
            <input type="text" name="broj_indeksa" id="index" required>
        </div>
        <div>
            <label for="ime">Ime:</label>
            <input type="text" name="ime" required>
        </div>
        <div>
            <label for="prezime">Prezime:</label>
            <input type="text" name="prezime" required>
        </div>
        <div>
            <label for="prosek">Prosecna Ocena:</label>
            <input type="number" name="prosecna_ocena" min="5" max="10" required oninvalid="this.setCustomValidity('Unesi ocenu od 5 do 10')"
            oninput="setCustomValidity('')">
        </div>
        <div>
            <button type="submit">Dodaj</button>
        </div>
    </form>
</body>
</html>