table{
    width: 70%;
    border-collapse: collapse;
    margin:0 auto;
}

td,th{
    border:3px solid black;
    text-align: center;
    padding:8px;
}

tr:nth-child(even){
    background-color:#dddddd;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color:darkgrey;
}